@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");

body {
  font-family: "Roboto Condensed", sans-serif;
}

:root {
  --primary-white: #fff;
  --primary-green: #7ed957;
}
/************Nav Bar**********/
.logo {
  width: 14.25rem;
}
/************Menu Links**********/
nav a.nav-link {
  /* font-weight: 500; */
  letter-spacing: 0.0375rem;
  cursor: pointer;
}
nav ul li {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  text-transform: uppercase;
}
.navbar-nav > li > a {
  border-top: 0.1875rem solid rgba(255, 255, 255, 0);
  color: var(--primary-white) !important;
}
.navbar-brand {
  max-width: 15.25rem;
  padding: 0 !important;
  /* height: 6rem !important; */
}
.navbar-nav > li > a.active,
.navbar-nav > li > a:active:focus {
  border-top: 0.1875rem solid #7ed957;
}
.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid #7ed957;
}
